<div class="container py-5">
  <div class="row">
    <div class="col-12 col-lg-10 col-xl-8 mx-auto">
      <div class="card">
        <div class="card-body">
          <h5 class="card-title">Add Your Favorite Restaurant <i class="fab fa-angellist"></i></h5>
          <hr>
          <form action="/restaurants" method="POST" class="d-flex flex-column m-3" id="form" novalidate>
            <div class="form-group form-row">
              <label for="name" class="col-md-4 col-form-label">
                Restaurant's Name
              </label>
              <div class="col-md-8">
                <input type="text" name="length" class="form-control" id="name" placeholder="please enter restaurant's name" required>
                <div class="valid-feedback">Looks good!</div>
                <div class="invalid-feedback">This field is required!</div>
              </div>
            </div>
            <div class="form-group form-row">
              <label for="name_en" class="col-md-4 col-form-label">
                Restaurant's English Name
              </label>
              <div class="col-md-8">
                <input type="text" name="name_en" class="form-control" id="name_en" placeholder="please enter restaurant's English name">
                <small class="text-muted form-text">Optional</small>
              </div>
            </div>
            <div class="form-group form-row">
              <label for="category" class="col-md-4 col-form-label">
                Category
              </label>
              <div class="col-md-8">
                <select class="form-control" required>
                  <option selected disabled value="">Choose...</option>
                  <option>中東料理</option>
                  <option>日本料理</option>
                  <option>義式料理</option>
                  <option>美式料理</option>
                  <option>韓式料理</option>
                  <option>泰式料理</option>
                  <option>酒吧</option>
                  <option>咖啡</option>
                  <option>其他</option>
                </select>
                <div class="valid-feedback">Looks good!</div>
                <div class="invalid-feedback">This field is required!</div>
              </div>
            </div>
            <div class="form-group form-row">
              <label for="location" class="col-md-4 col-form-label">
                Location
              </label>
              <div class="col-md-8">
                <input type="text" name="location" class="form-control" id="location" placeholder="please enter address" required>
                <div class="valid-feedback">Looks good!</div>
                <div class="invalid-feedback">This field is required!</div>
              </div>
            </div>
            <div class="form-group form-row">
              <label for="phone" class="col-md-4 col-form-label">
                Phone No.
              </label>
              <div class="col-md-8">
                <input type="text" name="phone" class="form-control" id="phone" placeholder="02123456789" required>
                <div class="valid-feedback">Looks good!</div>
                <div class="invalid-feedback">This field is required!</div>
              </div>
            </div>
            <div class="form-group form-row">
              <label for="google_map" class="col-md-4 col-form-label">
                Google Map 
              </label>
              <div class="col-md-8">
                <input type="url" name="google_map" class="form-control" id="google_map" placeholder="enter https://www.google.com/maps/place/..." required>
                <div class="valid-feedback">Looks good!</div>
                <div class="invalid-feedback">This field is required!</div>
              </div>
            </div>
            <div class="form-group form-row">
              <label for="url" class="col-md-4 col-form-label">
                Image
              </label>
              <div class="col-md-8">
                <input type="text" name="image" class="form-control" id="image" placeholder="insert image url" required>
                <div class="valid-feedback">Looks good!</div>
                <div class="invalid-feedback">This field is required!</div>
              </div>
            </div>
            <div class="form-group form-row">
              <label class="col-md-4 col-form-label">
                Rating
              </label>
              <div class="col-md-8">
                <input type="number" name="rating" class="form-control" id="rating" min="1" max="5" step="0.1" placeholder="5-favorite -> 1-least favorite" required>
                <div class="valid-feedback">Looks good!</div>
                <div class="invalid-feedback">This field is required!</div>
              </div>
            </div>
            <div class="form-group form-row">
              <label for="description" class="col-md-4 col-form-label">
                Description
              </label>
              <div class="col-md-8">
                <textarea name="description" class="form-control" id="description" placeholder="describe the restaurant"></textarea>
              </div>
            </div>
            <div class="container d-flex justify-content-center">
              <button class="btn btn-success col-md-2 m-2" type="submit" id="submit-btn">Submit</button>
              <button class="btn btn-primary col-md-2 m-2" type="button"><a href="/" style="color: white; text-decoration:none;">Back</a></button>
            </div>
            
          </form>
          
        </div>
      </div>
    </div>
  </div>
</div>